html,body
{
	margin : 0;
	padding : 0;
	font-family : arial;
	background-color : red;
}

img
{
	max-width : 100%;
	max-height : 100%;
}

a
{
	color : inherit;
	text-decoration : inherit;
}


article
{
	max-width : 1000px;
	min-height : calc( 100vh - calc( 20px + var( --menu-height) ) );
	margin : auto;
	background-color : white;
	padding : 10px;
}


:root {
  --menu-height: 64px;
	--menu-color : #000088;
	--menu-mobile-width : 200px;
	--menu-mobile-color : red;
}
